# ignore build dir
build

# ignore all dotfiles
.*

# except these
!.gitignore
!.travis.yml
!.appveyor.yml

# ignore IDE project files
*.kdev4
*.workspace

# ignore SDL2 mixer manual build
external/SDL2_mixer*
